In [1]:
import pandas as pd
import chardet as chardet

/var/folders/gm/c4sdklyj1d5bmsf5thm4k8f00000gn/T/ipykernel_26166/204012549.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# GPA Data Cleaning

In [2]:
# collecting and formatting lines:
input_file = 'gpa.csv' # this is encoded in UTF-16
lines = []
with open(input_file, 'r', encoding='utf-16') as infile:
    for line in infile:
        fields = line.strip().split(',')
        if len(fields) != 2:
            fields = [','.join(fields[:2])] + fields[2:]
        lines.append(','.join(fields))

# writing to a new tsv file:
output_file = 'gpa_utf8.csv'
with open(output_file, 'w', encoding='utf-8') as outfile:
    for line in lines:
        outfile.write(line + '\n')

In [3]:
gpa_df = pd.read_csv("gpa_utf8.csv", sep="\t")

In [4]:
# removing redundant cells and columns
gpa_df_usa = gpa_df[gpa_df["City"] != 'n/a ']
gpa_df_usa = gpa_df_usa.drop(columns=["Calculation1"])

In [5]:
# creating an enrolled GPA only DF
enrl_gpa_df_usa = gpa_df_usa[gpa_df_usa["Measure Names"] == "Enrl GPA"]
enrl_gpa_df_usa = enrl_gpa_df_usa.drop(columns = ["Measure Names"])
enrl_gpa_df_usa = enrl_gpa_df_usa.rename(columns={"Measure Values": "Enrl GPA"}).set_index("School")

# creating an admitted GPA only DF
adm_gpa_df_usa = gpa_df_usa[gpa_df_usa["Measure Names"] == "Adm GPA"]
adm_gpa_df_usa = adm_gpa_df_usa.drop(columns = ["Measure Names"])
adm_gpa_df_usa = adm_gpa_df_usa.rename(columns={"Measure Values": "Adm GPA"}).set_index("School")

In [6]:
# creating a DF with both enrolled and admitted GPA
both_gpa_df_usa = enrl_gpa_df_usa.copy()
both_gpa_df_usa["Adm GPA"] = adm_gpa_df_usa["Adm GPA"]

In [7]:
# assigning column to the newest DF that contains GPA difference
def calc_gpa_diff(ser):
    return ser["Adm GPA"] - ser["Enrl GPA"]
both_gpa_df_usa["GPA Diff"] = both_gpa_df_usa.apply(calc_gpa_diff, axis=1)
both_gpa_df_usa["GPA Diff"]

School
A & M CONSOLIDATED HIGH SCHOOL         NaN
A B MILLER HIGH SCHOOL                 NaN
A N MCCALLUM HIGH SCHOOL               NaN
ABINGTON FRIENDS SCHOOL                NaN
ABRAHAM LINCOLN HIGH SCHOOL       0.001727
                                    ...
YUCAIPA SENIOR HIGH SCHOOL             NaN
YUCCA VALLEY HIGH SCHOOL               NaN
YULA BOYS HIGH SCHOOL                  NaN
YUMA CATHOLIC HIGH SCHOOL              NaN
ZIONSVILLE COMMUNITY HS                NaN
Name: GPA Diff, Length: 2759, dtype: float64

In [8]:
both_gpa_df_usa

,City,County/State/Country,Enrl GPA,Adm GPA,GPA Diff
School,,,,,
A & M CONSOLIDATED HIGH SCHOOL,College Station,Texas,NaN,NaN,NaN
A B MILLER HIGH SCHOOL,Fontana,San Bernardino,NaN,4.090000,NaN
A N MCCALLUM HIGH SCHOOL,Austin,Texas,NaN,4.228333,NaN
ABINGTON FRIENDS SCHOOL,Jenkintown,Pennsylvania,NaN,NaN,NaN
ABRAHAM LINCOLN HIGH SCHOOL,Los Angeles,Los Angeles,4.081176,4.082903,0.001727
...,...,...,...,...,...
YUCAIPA SENIOR HIGH SCHOOL,Yucaipa,San Bernardino,NaN,4.274615,NaN
YUCCA VALLEY HIGH SCHOOL,Yucca Valley,San Bernardino,NaN,NaN,NaN
YULA BOYS HIGH SCHOOL,Los Angeles,Los Angeles,NaN,NaN,NaN
YUMA CATHOLIC HIGH SCHOOL,Yuma,Arizona,NaN,4.282000,NaN
ZIONSVILLE COMMUNITY HS,Zionsville,Indiana,NaN,NaN,NaN

# Admittance Data Cleaning

In [9]:
# collecting and formatting lines:
input_file = 'admittance.csv'
lines = []
with open(input_file, 'r', encoding='utf-16') as infile:
    for line in infile:
        fields = line.strip().split(',')
        if len(fields) != 2:
            fields = [','.join(fields[:2])] + fields[2:]
        lines.append(','.join(fields))

# writing to a new .tsv file
output_file = 'admittance_utf8.csv'
with open(output_file, 'w', encoding='utf-8') as outfile:
    for line in lines:
        outfile.write(line + '\n')

In [10]:
admittance_df = pd.read_csv("admittance_utf8.csv", sep="\t")
admittance_df.head()

,Calculation1,City,County/State/ Territory,Count,gender,School,Pivot Field Values
0,2ND NATURE ACADEMY HIGH SCHOOL300024,Nashua,NH,Enr,Unknown,2ND NATURE ACADEMY HIGH SCHOOL,NaN
1,2ND NATURE ACADEMY HIGH SCHOOL300024,Nashua,NH,Adm,Unknown,2ND NATURE ACADEMY HIGH SCHOOL,NaN
2,2ND NATURE ACADEMY HIGH SCHOOL300024,Nashua,NH,App,Unknown,2ND NATURE ACADEMY HIGH SCHOOL,NaN
3,2ND NATURE ACADEMY HIGH SCHOOL300024,Nashua,NH,Enr,Other,2ND NATURE ACADEMY HIGH SCHOOL,NaN
4,2ND NATURE ACADEMY HIGH SCHOOL300024,Nashua,NH,Adm,Other,2ND NATURE ACADEMY HIGH SCHOOL,NaN

In [11]:
# removing redundant cells and columns
admittance_df_usa = admittance_df[admittance_df["City"] != 'n/a ']
admittance_df_usa = admittance_df[admittance_df["City"].isna() == False]
admittance_df_usa = admittance_df_usa.drop(columns=["Calculation1"])
admittance_df_usa = admittance_df_usa[admittance_df["gender"] == "All"]

/var/folders/gm/c4sdklyj1d5bmsf5thm4k8f00000gn/T/ipykernel_26166/1595058900.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  admittance_df_usa = admittance_df_usa[admittance_df["gender"] == "All"]

In [12]:
# creating an enrolled GPA only DF:
enr_admittance_df_usa = admittance_df_usa[admittance_df_usa["Count"] == "Enr"].set_index("School")

# creating an admitted GPA only DF:
adm_admittance_df_usa = admittance_df_usa[admittance_df_usa["Count"] == "Adm"].set_index("School")

# creating an applied GPA only DF:
app_admittance_df_usa = admittance_df_usa[admittance_df_usa["Count"] == "App"].set_index("School")

# creating a DF with all three GPAs:
final_admittance_df_usa = app_admittance_df_usa.copy()
final_admittance_df_usa = final_admittance_df_usa.rename(columns={"Pivot Field Values": "App Ct"})
final_admittance_df_usa["Adm Ct"] = adm_admittance_df_usa["Pivot Field Values"]
final_admittance_df_usa["Enr Ct"] = enr_admittance_df_usa["Pivot Field Values"]

# dropping redundant columns:
final_admittance_df = final_admittance_df_usa.drop(columns=["Count","gender"])

In [15]:
final_admittance_df.head()

,City,County/State/ Territory,App Ct,Adm Ct,Enr Ct
School,,,,,
2ND NATURE ACADEMY HIGH SCHOOL,Nashua,NH,NaN,NaN,NaN
21ST CENTURY CYBER CHARTER SCH,West Chester,PA,NaN,NaN,NaN
A & M CONSOLIDATED HIGH SCHOOL,College Station,TX,5.0,3.0,NaN
A B MILLER HIGH SCHOOL,Fontana,San Bernardino,32.0,13.0,NaN
A BEKA ACADEMY VIDEO FOR HOMES,Pensacola,FL,NaN,NaN,NaN

In [17]:
def in_or_out(row):
    if len(row["County/State/ Territory"]) <= 2:
        return "Out-of-State"
    else:
        return "In-State"
        
final_admittance_df["IS/OOS"] = final_admittance_df.apply(lambda row: in_or_out(row), axis=1)
final_admittance_df

,City,County/State/ Territory,App Ct,Adm Ct,Enr Ct,IS/OOS
School,,,,,,
2ND NATURE ACADEMY HIGH SCHOOL,Nashua,NH,NaN,NaN,NaN,Out-of-State
21ST CENTURY CYBER CHARTER SCH,West Chester,PA,NaN,NaN,NaN,Out-of-State
A & M CONSOLIDATED HIGH SCHOOL,College Station,TX,5.0,3.0,NaN,Out-of-State
A B MILLER HIGH SCHOOL,Fontana,San Bernardino,32.0,13.0,NaN,In-State
A BEKA ACADEMY VIDEO FOR HOMES,Pensacola,FL,NaN,NaN,NaN,Out-of-State
...,...,...,...,...,...,...
YUCAIPA SENIOR HIGH SCHOOL,Yucaipa,San Bernardino,49.0,13.0,4.0,In-State
YUCCA VALLEY HIGH SCHOOL,Yucca Valley,San Bernardino,14.0,NaN,NaN,In-State
YULA BOYS HIGH SCHOOL,Los Angeles,Los Angeles,11.0,3.0,NaN,In-State
YUMA CATHOLIC HIGH SCHOOL,Yuma,AZ,6.0,5.0,NaN,Out-of-State
ZIONSVILLE COMMUNITY HS,Zionsville,IN,6.0,NaN,NaN,Out-of-State

# EDA

In [27]:
both_gpa_df_usa.describe()

         Enrl GPA      Adm GPA    GPA Diff
count  375.000000  1412.000000  375.000000
mean     4.142583     4.193784    0.038371
std      0.105067     0.091162    0.044402
min      3.693077     3.743333   -0.092475
25%      4.081838     4.147186    0.008578
50%      4.157778     4.216000    0.032045
75%      4.218397     4.258059    0.062861
max      4.324000     4.441429    0.188706

In [42]:
both_gpa_df_usa[both_gpa_df_usa["IS/OOS"] == "In-State"]

KeyError: 'IS/OOS'

In [52]:
diff_index = final_admittance_df.index.difference(both_gpa_df_usa.index)
df_difference = final_admittance_df.loc[diff_index]
df_difference.sort_values("App Ct", ascending=False)

,City,County/State/ Territory,App Ct,Adm Ct,Enr Ct,IS/OOS
School,,,,,,
PHILLIPS ACADEMY,Andover,MA,82.0,26.0,3.0,Out-of-State
BLAIR ACADEMY,Blairstown,NJ,25.0,9.0,NaN,Out-of-State
ST PAULS SCHOOL,Concord,NH,25.0,9.0,NaN,Out-of-State
BISHOP BLANCHET HIGH SCHOOL,Seattle,WA,19.0,NaN,NaN,Out-of-State
MILLARD NORTH HIGH SCHOOL,Omaha,NE,15.0,4.0,NaN,Out-of-State
...,...,...,...,...,...,...
YORK PREPARATORY SCHOOL,New York,NY,NaN,NaN,NaN,Out-of-State
YORKVILLE HIGH SCHOOL,Yorkville,IL,NaN,NaN,NaN,Out-of-State
YOUNG WOMEN'S PREPARATORY ACAD,Miami,FL,NaN,NaN,NaN,Out-of-State
YOUNG WOMENS LEADERSHIP ACDMY,El Paso,TX,NaN,NaN,NaN,Out-of-State
YOUNG WOMENS STEAM RESEARCH &,El Paso,TX,NaN,NaN,NaN,Out-of-State

In [61]:
#both_gpa_df_usa.reset_index()["PHILLIPS ACADEMY"]
bri = both_gpa_df_usa.reset_index()
bri[bri["School"] == "PHILLIPS ACADEMY"]

Empty DataFrame
Columns: [School, City, County/State/Country, Enrl GPA, Adm GPA, GPA Diff]
Index: []

In [63]:
gpa_df[gpa_df["School"] == "PHILLIPS ACADEMY"]

Empty DataFrame
Columns: [Calculation1, School, City, County/State/Country, Measure Names, Measure Values]
Index: []

In [64]:
final_admittance_df

,City,County/State/ Territory,App Ct,Adm Ct,Enr Ct,IS/OOS
School,,,,,,
2ND NATURE ACADEMY HIGH SCHOOL,Nashua,NH,NaN,NaN,NaN,Out-of-State
21ST CENTURY CYBER CHARTER SCH,West Chester,PA,NaN,NaN,NaN,Out-of-State
A & M CONSOLIDATED HIGH SCHOOL,College Station,TX,5.0,3.0,NaN,Out-of-State
A B MILLER HIGH SCHOOL,Fontana,San Bernardino,32.0,13.0,NaN,In-State
A BEKA ACADEMY VIDEO FOR HOMES,Pensacola,FL,NaN,NaN,NaN,Out-of-State
...,...,...,...,...,...,...
YUCAIPA SENIOR HIGH SCHOOL,Yucaipa,San Bernardino,49.0,13.0,4.0,In-State
YUCCA VALLEY HIGH SCHOOL,Yucca Valley,San Bernardino,14.0,NaN,NaN,In-State
YULA BOYS HIGH SCHOOL,Los Angeles,Los Angeles,11.0,3.0,NaN,In-State
YUMA CATHOLIC HIGH SCHOOL,Yuma,AZ,6.0,5.0,NaN,Out-of-State
ZIONSVILLE COMMUNITY HS,Zionsville,IN,6.0,NaN,NaN,Out-of-State